name: anythingllm

networks:
  anything-llm:
    driver: bridge

services:
  redis:
    container_name: anything-redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - anything-llm
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes

  anything-llm:
    container_name: anythingllm
    build:
      context: ../.
      dockerfile: ./docker/Dockerfile
      args:
        ARG_UID: ${UID:-1000}
        ARG_GID: ${GID:-1000}
    tty: true
    cap_add:
      - SYS_ADMIN
    volumes:
      - "./.env:/app/server/.env"
      - "../server/storage:/app/server/storage"
      - "../collector/hotdir/:/app/collector/hotdir"
      - "../collector/outputs/:/app/collector/outputs"
      - "../:/app/anything-llm"
      - "/home/zphilip/HybridAI/mything-llm:/app/mything-llm"
    user: "${UID:-1000}:${GID:-1000}"
    ports:
      - "5001:3001"
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - anything-llm
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis

volumes:
  redis-data:
